.modalStyle {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 400 !important;
    border: 2px solid #000 !important;
    box-shadow: 24 !important;
    background-color: rgb(2, 0, 28) !important;
    color: white;
    padding: 8;
    border-radius: 2rem;
}